/* Our default values set as CSS variables */
:root {
  --color-bg: #FFFFA0;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
.wrapResult
{
  width:40vw;
  margin-left:10px;
  display: flex; 
  flex-wrap: wrap;
  float:right;
  background-color:black;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.05rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: HK Grotesk;
  
}
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
h1 {
  color: lightgray;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}
.page h1 {
  font-size: 48px;
}

.page p {
  line-height: 1.5;
}

.page a {
  color: white;
}

.page a:hover {
  text-decoration: none;
}
*/

/* The React image and "click me" text */
.btn--click-me {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--click-me:hover {
  text-decoration: underline;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  cursor: pointer;
  padding-left: 3.5rem;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions p {
  font-size: 1rem;
  background-color:black;
  opacity:0.8;
}

.instructions a
{
  color:pink;
  font-weight:bold;
  text-decoration:none;
}
h2 {
  color: white;
}

.bg {
  /* The image used */
  background-image: url("/images/designer.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-matter {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
  background-color: #975E40;
  color:#E1E1CD;
  padding: 20px;
}


.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58vw;
  height: 100vh;
}

.left-column h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.left-column h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
}


.upper-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:50%;
  background-color:#AECACE
}

.upper-right-section p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.upper-right-section button {
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-decoration:none;
}

#btn-get-started a
{
  text-decoration:none !important;
  
}

#btn-get-started a:hover
{ 
  text-shadow: 2px 2px 10px #FFF;
  filter: dropshadow(color=#FFFFFF, offx=0, offy=0);
}

.lower-right-section {
  height: 100%;
  background-image: url("/images/write-better-essays.png");
  background-size: cover;
}

.bg {
  /* The image used */
  background-image: url("/images/designer.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.front-matter
{
  color:white;
  background-color:#F1F0EE;
  
}

.essay h1
{
  font-size:38pt;
  color:#CDA340;
  padding:20px;
  font-kerning:none;
}

.essay
{
  color:black;
}

.essay p
{
  margin:20px;
}


.essay textarea
{
  margin:20px;
}

/* CSS */
.button-3 {
  margin:20px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.essay-content span
{
  margin:20px;
  width:100%;
  display:block;
}

.essay-content input
{
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.wrapResult
{
  width:40vw;
  padding:10px;
  color:black;
    border: solid thin #CDA340;
  background-color:#F1F0EE;
}